.Home {
    height: 80vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

.containerr {
    display: flex;
    flex: 1;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    background-color: black;
}

.map-container {
    width: 100%;
    border-radius: 3%;
    margin: 6px;
    height: 92vh;
}

.active-buses-container {
    width: auto;
}

.mapcontanor{
    width: 75vw;
    height: 90vh;
}

.homecontanor{
    margin: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: 90vh;
    display: flex;
}

.sidebarr{
    width: 22vw;
    margin-left: 1.1em;
    border-radius: 20px;
    background-color: #8b6416ab;
}

.sidecontent{
    margin: 2em;;
}

.sideHeading{
    font-size: 2em;
    color: white;
}

.sideelements{
    background-color: antiquewhite;
    padding: 1em;
    margin-block: 1em;
    border-radius: 10px;
    font-weight: 700;
}







/* 
.sidebar-background {
    background-color: rgb(66, 28, 100);
    color: aliceblue;
    width: 20%;
    border-radius: 5%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 5;
    margin-top: 5px;
    margin-bottom: 5px;

}

.sidebar {
    position: sticky;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    overflow-y: auto;

}

.grid {
    margin-bottom: 20px;
    padding-top: 10%;
    display: grid;
    gap: 20px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: aliceblue;
}

.subline {
    display: flex;
    padding: 20px;
    flex-direction: column;
    color: aqua;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
}


.subline p {
    margin: 0;
    font-size: 1.2em;
    color: aliceblue;
}

p {
    font-size: 1.5em;
    color: aliceblue;
} */