{% extends 'base.html' %}

{% block body %}

<!-- form -->
<div class="container my-3">

    <form class="my-5" action="{{ url_for('detail') }}" method="post">
        <div class="mb-3">
            <label for="exampleInput1" class="form-label">Item Name: </label>
            <input type="text" class="form-control" id="exampleInput1" name="fname">
        </div>

        <div class="mb-3">
            <label for="exampleInput2" class="form-label">Quantity(in Kgs): </label>
            <input type="text" class="form-control" id="exampleInput2" name="ftask">
        </div>

        <div class="mb-3">
            <label for="exampleInput5" class="form-label">Creation Time: </label>
            <input type="text" class="form-control" id="exampleInput5" name="ftime" placeholder="Format: yyyy-dd-mm">
        </div>

        <div class="mb-3">
            <label for="exampleInput3" class="form-label">Catagory(Veg / Non-Veg): </label>
            <input type="text" class="form-control" id="exampleInput3" name="fcat">
        </div>

        <div class="mb-3">
            <label for="exampleInput4" class="form-label">Note: </label>
            <input type="text" class="form-control" id="exampleInput4" name="fnote">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</div>

{% endblock body %}